<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/anatolian" type="text/css"/> 
    <link rel="stylesheet" href="http://cdn.dcodes.net/2/social_buttons/css/dc_social_buttons.css" />
    <title>Search</title>
</head>
<body>
    <div style="margin-bottom:20px; padding:20px 20px 0; color:#ccc; background:#000000; border:1px solid #000; border-radius:8px;"> 
        <h1>Book Search </h1>
    <form action="/search" method="POST" class="dc_form_contact_dark nolabel">
        <input type="text" name="query" placeholder="Enter book name" required>
        <button type="submit" class="dc_ibutton">Search</button>
    </form>
    </div>
</body>
</html>